body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}


.ft-next{
    width: 40px;
    right: -40px;
}

.ft-next, .ft-prev {
    z:index: 1000;
    opacity: 0.2;
    background-color: #1321ff;
    height: 100%;
}

.ft-prev{
    width: 40px;
    left: -40px;
}

.ft-next:hover, .ft-prev:hover {
    opacity: 0.4;
}